:root {
    --primary: rgb(31, 177, 207);
    --primary-dark: rgb(82, 82, 82);
    --secondary: orange;
    --white: white;
    --black: black;
    --footer: rgb(48, 48, 48);
    --skillset-box: rgba(0, 0, 0, 0.75);
    --shadow-color:  rgb(97,97,97);
}
